.container_evaluation {
    background: #c2e4f2;
    justify-content: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
}

.container_evaluation h1 {
    font-size: 40px;
    font-weight: 400;
}

.container_evaluation p {
    text-align: justify;
    font-size: 20px;
}