body {
    background-color: #004563;
}



.login {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 30px;
}

.login form {
    width: 500px;
    max-width: 100%;
}

.login__img {
    width: 305px;
    height: 305px;
    left: 189px;
    top: 63px;
}

.login__block {
    height: 324px;
    background-color: rgba(0, 0, 0, 0.46);
    margin-left: 40px;
    margin-right: 80px;
    padding: 1px;
}

.login__singIn {
    display: flex;
    flex-direction: column;
}

.login__singIn__title {
    margin-top: 100px;
    font-family: 'Poppins';
    font-size: 26px;
    line-height: 39px;
    text-align: center;
}

.login__singIn__label__email {
    width: 116px;
    height: 20px;
    left: 720.25px;
    top: 418px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color: #7C838A;
}

.login__singIn__input__email {
    box-sizing: border-box;
    width: 423.2px;
    height: 43.74px;
    left: 207.36px;
    top: 506px;
    margin-top: 9px;

    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.login__singIn__label__password {
    width: 116px;
    height: 20px;
    left: 720.25px;
    top: 418px;
    margin-top: 22px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color: #7C838A;
}

.login__singIn__input__password {
    box-sizing: border-box;
    width: 423.2px;
    height: 43.74px;
    left: 207.36px;
    top: 506px;
    margin-top: 9px;

    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.login__singIn_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    text-align: center;

    color: #B0BAC3;
}

.login__singIn__forgotPassword {
    text-align: end;
}

.login__singIn__register {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row
}