
.page {
    display: flex;
    justify-content: center;
}

.container_products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1rem;
    margin-left: 3rem;
    align-content: flex-start;
}