.btn_save_product {
    background-color: rgba(0, 68, 97, 0.75) !important;
    position: absolute;
    padding: 7px 15px !important;
    top: 42px;
    left: 300px;
    z-index:1 !important;
    border-radius: 15px !important;
}