@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  margin: 0;
}

.carrouselImageContainer img {
  max-height: 215px;
  width: 100%;
  margin-bottom: 10px;
}

.sectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
}

.sectionItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  border-radius: 20px;
  margin: 0px 40px;
  text-align: center;
}

.sectionItem img {
  width: 100%;
}

.carrouselCategoryContainer {
  width: 100%;
  height: 500px;
  background-image: url("../../images/Rectangle7.png");
}
